div .todoWrapper {
  background-color: #c9a984;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10%;
}

div .todoHeader {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div .todoBody {
  width: 90%;
  height: 78%;
  border: solid 4px #694822;
  border-radius: 3%;
}

div .todoContainer {
  width: 100%;
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  overflow-y: scroll;
}

div .todoContainerRow {
  user-select: none;
  width: 100%;
  padding-top: 2px;
  font-size: 3vh;
  border-bottom: 2px solid;
  border-color: rgba(128, 128, 128, 0.4);
  display: flex;
}
