.loginPage {
  font-family: "Trebuchet MS";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  user-select: none;
}

.instructionWrapper {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.instruction {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.insBody {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #bebebe;
  color: black;
  font-size: 3vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
}

.insBody:hover {
  background-color: #808080;
}

.loginOuter {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginBody {
  width: 40vw;
  height: 100vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
}

.loginWrapper {
  width: 25vw;
  height: 25vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  height: 35%;
  width: 120%;
}

.loginInput {
  height: 70%;
  width: 100%;
  padding-top: 3vh;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.userNameWrapper {
  width: 100%;
  height: 30%;
}

.idWrapper {
  width: 100%;
  height: 30%;
}

.passWordWrapper {
  width: 100%;
  height: 30%;
}

.loginButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.switchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1vh;
}

.loginBtn {
  font-size: 1.5vw;
  font-family: "Comic Sans MS";
  font-weight: 900;
  padding: 10px 20px;
  color: #5a1714;
  border-radius: 25px;
  background-color: #fccfcd;
  border: 3px solid #b84742;
  margin: 1%;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #b84742;
  color: #fccfcd;
  border: 3px solid transparent;
}

.insTitle {
  height: 20%;
  width: 65%;
  font-size: 2.5vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 4px double black;
  color: black;
}

.insContents {
  height: 68%;
  width: 90%;
  font-size: 1.2vw;
  font-weight: 900;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.insBtn {
  font-size: 1.2vw;
  font-family: "Comic Sans MS";
  font-weight: 900;
  padding: 5px 10px;
  color: #4f5c49;
  border-radius: 25px;
  background-color: #f1fff9;
  border: 3px solid #4f5c49;
}

.insBtn:hover {
  background-color: #4f5c49;
  color: #f1fff9;
}

li {
  padding: 2px;
}
