.loginPage {
  font-family: "Trebuchet MS";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  user-select: none;
}

.loginBody {
  width: 40vw;
  height: 100vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
}

.loginWrapper {
  width: 25vw;
  height: 25vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  height: 35%;
  width: 120%;
}

.loginInput {
  height: 70%;
  width: 100%;
  padding-top: 3vh;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.userNameWrapper {
  width: 100%;
  height: 30%;
}

.idWrapper {
  width: 100%;
  height: 30%;
}

.passWordWrapper {
  width: 100%;
  height: 30%;
}

.loginButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.switchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1vh;
}

.loginBtn {
  font-size: 1.5vw;
  font-family: "Comic Sans MS";
  font-weight: 900;
  padding: 10px 20px;
  color: #a10b03;
  border-radius: 25px;
  background-color: #abe3c4;
  border: 3px solid #76cf97;
  margin: 1%;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #76cf97;
  color: #a10b03;
  border: 3px solid transparent;
}
