div .Background {
  height: 100%;
  /* background-color: #fdefe1; */
  padding-top: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  box-sizing: border-box;
  user-select: none;
}

div .header {
  height: 20vh;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

div .body {
  width: 100%;
  height: 68vh;
  display: flex;
  padding-right: 2vw;
}

.Background {
  font-family: "Trebuchet MS";
}

div .sideBar {
  width: 15%;
  height: 100%;
}

div .sideBar-child1 {
  padding-top: "5vh";
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 11vw;
  border: 3px solid black;
  border-radius: 8%;
  align-items: center;
  background-color: #ffd8f3;
}

div .Monster {
  width: 65%;
  height: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes chat {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

.ChatBubble {
  width: 35%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: chat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ChatContents {
  height: 100%;
  width: auto;
  padding-top: 15vh;
  padding-bottom: 18vh;
  font-size: 1.5vw;
  font-weight: 900;
  color: #6f4511;
}

.monsImg {
  height: 100%;
  width: 100%;
  padding-right: 6vw;
  display: flex;
  flex-direction: row-reverse;
}

div .ToDo {
  width: 20%;
  height: 80%;
}

div .footer {
  width: 100%;
  height: 10vh;
}
