div .Background {
  height: 100%;
  padding-top: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  box-sizing: border-box;
  user-select: none;
}

div .header {
  height: 20vh;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

div .body {
  width: 100%;
  height: 67vh;
  display: flex;
  padding-right: 2vw;
}

.Background {
  font-family: "Comic Sans MS";
}

div .sideBar {
  width: 15%;
  height: 100%;
}

div .sideBar-child1 {
  padding-top: "5vh";
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 140px;
  color: black;
  border: 3px solid black;
  border-radius: 15px;
  align-items: center;
  background-color: #dacaf2;
}

.menuWrapper:hover {
  background-color: #b9afc7;
}

div .Monster {
  width: 60%;
  height: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ffd8f3; */
}

@keyframes chat {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

.ChatBubble {
  width: 20%;
  height: 45%;
  display: flex;
  justify-content: center;
  animation-name: chat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-bottom: 10%;
  margin-right: 20%;
}

.ChatContents {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  font-size: 1.5vw;
  font-weight: 900;
  color: #6f4511;
}

.monsImg {
  height: 100%;
  width: 100%;
  padding-right: 6vw;
  display: flex;
  flex-direction: row-reverse;
}

div .ToDo {
  width: 25%;
  height: 80%;
  margin-top: 10%;
}

div .footer {
  width: 100%;
  height: 10vh;
}
